// Breakpoints
$mobile-breakpoint:  320px;
$tablet-breakpoint: 768px;
$desctop-breakpoint: 1280px;

// Comon colors

$main-background-color: rgba(255, 255, 249, 1);
$second-background-color: rgba(254, 243, 228, 1);
$accent-color: rgba(171, 129, 108, 1);

$main-text-color: rgba(46, 37, 32, 1);
$second-text-color: rgba(171, 129, 108, 0.5);
$button-text-color: white;

// Additional normalizing

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $main-text-color;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

// Common elements

.title {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.button {
    display: block;
    width: 145px;
    height: 40px;

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    color: $button-text-color;

    background: $accent-color;    

    

    border: 0px;
    border-radius: 25px;

    cursor: pointer;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 16px 20px;
}

// Visually-hidden

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
