<section class="contact">
    <div class="container contact-container">
        <h2 class="title contact__title" id="contact">
            Contact
        </h2>
        <legend class="legend">
            We will answer any question!
        </legend>
        <form class="form__field">
            <label>
                <input class="form__input" type="email" placeholder="Email">
            </label>
            <label for="">
                <input class="form__input" type="text" placeholder="Type your question">
            </label>
            <button type="submit" class="button contact__button">
                Send
            </button>
        </form>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__link" class="social-list__item">
                <a href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</section>