<header>
    <div class="container">
        <nav class="nav">
            <img class="logo nav__logo" src="./images/logo.svg" width="96" alt="logo">
            
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href=""></a>About us</li>
                <li class="nav__item"><a class="nav__link" href=""></a>Program</li>
                <li class="nav__item"><a class="nav__link" href=""></a>Reviews</li>
                <li class="nav__item"><a class="nav__link" href=""></a>Contacts</li>
            </ul>
        </nav>
    </div>
</header>