<section class="menu">
    <div class="container">
        <h1 class="title menu-title">
            Donut Masterclass<br>
            with the Donut King
        </h1>
        <p class="menu-subtitle">
            Hosted by Eva Green
        </p>
        <a href="#registration">
            <button type="button" class="button menu-button">
                Register
            </button>
        </a>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__link" class="social-list__item">
                <a href="">
                    <svg class="social-media__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>