<section class="program">
    <div class="container">
        <h2 class="title">
            Program
        </h2>
        <p>
            Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
        </p>
        <ul>
            <li>
                > A stand up history of donuts
            </li>
            <li>
                > Make 3 donut flavors of your choice
            </li>
            <li>
                > Enjoy all-you-can-eat donuts
            </li>
            <li>
                > Cocktail pairings and coffee included
            </li>
            <li>
                > Photoshoot by professional photographer
            </li>
            <li>
                > Secret receipt of cooking from Eva
            </li>
            <li>
                > All products are included in the price
            </li>
            <input class="program__chekbox visually-hidden" type="checkbox" name="" id="program__hide-button">
            <p class="program__text program__text--hidden">
                Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking!
            </p>
            
            <label class="hide-button__text program-hide-button__open" for="program__hide-button">Read more</label>
            <label class="hide-button__text program-hide-button__close" for="program__hide-button">less</label>
        </ul>
        <!-- <ul class="feature">
            <li class="feature__item">
                <img class="feature__image" src="./images/program-section/donut1-1x.png" width="80" alt="donut">
                <div class="feature__text-wrapper">
                    <h3 class="title feature__title">
                        Type of the event
                    </h3>
                    <p class="feature__description">
                        Cooking classes
                    </p>
                    <svg class="feature__logo" width="19" height="19">
                        <use href="./images/sprite.svg#icon-chef-hat"></use>
                    </svg>
                </div>
            </li>
            <li class="feature__item">
                <img class="feature__image" src="./images/program-section/donut2-1x.png" width="80" alt="donut">
                <div class="feature__text-wrapper">
                    <h3 class="title feature__title">
                        Number of guests
                    </h3>
                    <p class="feature__description">
                        1 to 20
                    </p>
                    <svg class="feature__logo" width="19" height="19">
                        <use href="./images/sprite.svg#icon-people"></use>
                    </svg>
                </div>
            </li>
            <li class="feature__item">
                <img class="feature__image" src="./images/program-section/donut3-1x.png" width="80" alt="donut">
                <div class="feature__text-wrapper">
                    <h3 class="title feature__title">
                        Time of the event
                    </h3>
                    <p class="feature__description">
                        18:30 (2.5 hours)
                    </p>
                    <svg class="feature__logo" width="19" height="19">
                        <use href="./images/sprite.svg#icon-clock"></use>
                    </svg>
                </div>
            </li>
            <li class="feature__item">
                <img class="feature__image" src="./images/program-section/donut4-1x.png" width="80" alt="donut">
                <div class="feature__text-wrapper">
                    <h3 class="title feature__title">
                        The host speaks
                    </h3>
                    <p class="feature__description">
                        English, French
                    </p>
                    <svg class="feature__logo" width="19" height="19">
                        <use href="./images/sprite.svg#icon-chat"></use>
                    </svg>
                </div>
            </li>
        </ul> -->
    </div>
</section>