<section class="rewiew">
    <div class="container reviews-container">
        <h2 class="title rewiew-title" id="reviews">
            Reviews
        </h2>
        <article class="rewiew">
            <img class="rewiew__image" src="./images/reviews-section/photo-review.png" alt="client photo" width="280">
            <ul class="rewiew__rate">
                <li class="rewiew__counter">
                    <svg class="rewiew__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="rewiew__counter">
                    <svg class="rewiew__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="rewiew__counter">
                    <svg class="rewiew__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="rewiew__counter">
                    <svg class="rewiew__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="rewiew__counter">
                    <svg class="rewiew__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-full-star"></use>
                    </svg>
                </li>
            </ul>
            <h3 class="rewiew__name">
                Will
            </h3>
            <p class="rewiew__description">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
            </p>
    
        </article>
    </div>
</section>